/* Frosted glass effect */
.frosted-glass {
  /* background blur */
  position: relative;
  z-index: 1;
  background-image: url("../assets/image.png");
  background-size: cover;
  background-position: center;
}

.search-label {
  font-family: "Vazir", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-icon {
  font-size: 18px; /* Adjust the font size as needed */
  margin-right: 5px; /* Add some space between the icon and text */
}

.search-text {
  font-size: 16px; /* Adjust the font size as needed */
}
