body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "Vazir", "tahoma", "open sans", "Ubuntu", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
